@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

header {
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0;
    padding: 3vw 0;
    background-color: #fff;
    z-index: 2;
}

header img {
    width: 7%;
    position: absolute;
    left: 13%;
    top: 50%;
    transform: translateY(-50%);
}

nav {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 11%;
    top: 50%;
    transform: translateY(-50%);
}

header a {
    padding: 0 .5vw;
    text-decoration: none;
    color: black;
    font-size: 1vw;
    transition: 0.3s ease-in-out;

}

.home{
    color: #f32c1d;
}

.posterSection {
    text-align: right;
    width: 100%;
    background-image: url(./img/poster.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 26vw;
    place-content: center;
}

.posterSection div {
    display: inline-block;
    width: 26%;
    vertical-align: middle;
    text-align: left; 
}

.poster {
    display: inline-block;
    width: 60%;
    vertical-align: middle;
}

.poster img {
    width: 100%;
}

.posterSection h1{
    font-size: 1.5em;
    font-weight: 800;
}

.posterSection h2{
    font-size: 2.5em;
    font-weight: 800;
    color: #f32c1d;
}

.posterSection p{
    font-size: .6em;
    margin: 2vw 0;
}

.posterSection button{
    border: .2vw solid #f32c1d;
    border-radius: 1.5em;
    padding: .5vw 1vw;
    font-weight: 800;
    font-size: 1em;
    background-color: #fff;
}

.meio {
    width: 75%;
    margin: auto;
    text-align: left;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.meio picture {
    display: inline-block;
    width: 32%;
    vertical-align: middle;
    transform: scalex(-1);
}

.meio div {
    display: inline-block;
    width: 60%;
    vertical-align: middle;
    white-space: normal;
    margin-left: 5vw;
}

.meio picture img{
    width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.meio h1 img{
    width: 2vw;
    display: inline-block;
}

.meio h1{
    font-weight: 800;
    font-size: 2.4vw;
}

.meio p{
    font-size: .6em;
    margin: 1vw 0;
}

.M{
    font-size: .7em;
}

.meio button{
    border: .2vw solid #f32c1d;
    border-radius: 2em;
    padding: .5vw 1vw;
    font-weight: 800;
    font-size: .6em;
    background-color: #fff;
}

.final p, .final h1{
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.final h1{
    font-size: 2.5em;
    font-weight: 800;
    margin-bottom: 2vw;
}

.final b{
    color: #f32c1d;
    font-weight: 800;
}

.final p{
    font-size: .6em;
}

.grades {
    text-align: center;
    width: 100%;
    margin: 3vw 0;
}

.grade {
    display: inline-block;
    width: 30%; 
    vertical-align: top;
    text-align: center;
    margin: 0 1%;
    box-sizing: border-box;
}

.grade img {
    width: 66%;
    height: 30vh;
    border-radius: .5vw;
    object-fit: cover;
}

.grade h3 {
    font-weight: 800;
    font-size: 3vh;
}

.grade button {
    background-color: #f32c1d;
    font-weight: 700;
    border-radius: 3vh;
    color: #fff;
    border: none;
    padding: .5vw 1vw;
    font-size: 2vh;
    margin: 1.5vw 0;
}

.p {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.p p {
    width: 66%;
    margin: 0 auto;
}


.Whatsap{
    width: 5%;
    position: fixed;
    top: 44vw;
    right: 2vw;
}

nav a {
    transition: 0.3s ease-in-out;
}

nav a:hover{
    color: #f32c1d;
    text-decoration: underline;
}